body{
    background-color: black;
}

.categoriaSection {
    margin-bottom: 20px;
    width: 100%;
}

.categoriaButton {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    display: block;
}

.videosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
