.pie {
    background-color: var(--negro);
    color: var(--blanco);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.pie h2 {
    display: flex;
    align-items: center;
}

.pie h2 img {
    width: 50px;
    margin-left: 10px;
}
