:root{
  --font: "Montserrat", sans-serif;
  --blanco: #fff;
  --negro: #000;
  --gris: #e2e2e2;
  --light-gray: #f0f0f0;
  --primary-color: #007bff;
  --white: #fff;
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
